.containerCaption {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 6px 5px 7px 13px;
}

.ff-searchbox #search {
    text-indent: 10px;
}

#ffSuggestContainer {
    display: inline-block;
}

ff-suggest {
    position: absolute;
    left: 20px;
    right: 20px;
}

@media only screen and (min-width: 770px) {
    ff-suggest {
        width: 650px;
        left: auto;
        right: 0;
    }
}

ff-suggest .ffw-suggestContainerWrapper {
    position: static;
    border: 1px solid #ddd;
    border-top: 0;
}

ff-suggest-item {
    cursor: pointer;
}

ff-suggest-item.ff-highlight-suggest-item {
    background-color: lightgray;
}

ff-suggest[layout="block"] section.searchTermContainer {
    flex: 1 1 198px;
}

ff-suggest[layout="list"] section.searchTermContainer {
    width: auto;
}

.categoryContainer {
    width: 198px;
}

ff-suggest[layout="block"] section.productsContainer {
    flex: 2 1 510px;
}

ff-suggest[layout="list"] section.productsContainer {
    width: auto;
}

#ffSuggestContainer {
    width: 300px;
    border: 1px solid #ddd;
}

.productsContainer {
    border-left: 1px solid #ddd;
}

ff-suggest-item[type="productName"] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ff-suggest-item[type="productName"] .product-img {
    flex: 0 0 100px;
    margin-right: 10px;
}

ff-suggest-item[type="productName"] img {
    width: 100%;
}

.product-availabilitytext {
    background-color: darkgray;
    border-radius: 3px;
}

ff-suggest-item span.query {
    font-weight: bold;
}

.suggestItemCaption {
    border-bottom: 1px solid #dadada;
    padding-bottom: 3px;
    margin-bottom: 3px;
    color: #009fb7;
}

ff-suggest-item {
    padding: 5px 10px;
}

#navigation-container {
    margin: 15px 0 5px;
    width: 1000px;
    text-transform: uppercase;
    text-align: center;
}

.ffw-nav-item {
    cursor: pointer;
}

.ffw-nav-item:hover {
    color: #3399cc;
}

.ff-header-navigation a {
    color: black;
}

.ffw-body {
    cursor: pointer;
}

ff-record-list {
    position: relative;
    display: block;
}

ff-record {
    clear: left;
    width: 274.5px;
    margin-right: 22px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

ff-record:nth-child(3n+1) {
    margin-left: 0;
}

ff-record:nth-child(3n+3) {
    margin-right: 0;
}

.product-image {
    width: 100%;
    height: auto;
}

.result-product-name {
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #636363;
    white-space: nowrap;
    line-height: 1.4;
    font-weight: normal;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}

.brand {
    display: block;
    height: 60px;
}

.price {
    color: #3399cc;
    font-size: 16px;
}

.priceContainer {
    padding-bottom: 5px;
}

ff-recommendation > span, ff-similar-products > span {
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

ff-recommendation > ff-record-list, ff-similar-products > ff-record-list {
    margin-top: 10px;
}

ff-campaign-advisor, ff-campaign-feedbacktext > div {
    margin: 20px auto;
    width: 760px;
    background: #fff;
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
}

#productCartCampaignCaption > ff-campaign-feedbacktext > div {
    width: 100% !important;
}

#landingPageCampaignCaption > ff-campaign-feedbacktext {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
}

ff-campaign-advisor-question {
    margin: auto;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ff-campaign-advisor-answer {
    margin: 5px;
    cursor: pointer;
    background: #3399cc;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

ff-campaign-advisor-answer h2 {
    text-align: center;
}

ff-asn {
    margin-right: 5px;
}

ff-asn-group, ff-asn-group-slider {
    max-width: none;
    min-width: auto;
}

ff-asn-group-slider {
    margin-bottom: 6px;
    height: auto;
}

.ff-slider-control-common {
    text-align: center;
    position: absolute;
    width: 90px;
    top: 15px;
}

.ff-slider-control-left {
    left: 15px;
}

.ff-slider-control-right {
    right: 15px;
}

.ff-slider-control {
    display: block;
    opacity: 0;
    transition: opacity 800ms;
    padding: 10px 0 10px 0;
}

.sliderBtn {
    cursor: pointer;
    position: absolute;
    margin-left: -0.5em;
    top: -0.2em;
    border-radius: 5px;
    background: #0b97c4;
    width: 15px;
    height: 15px;
}

ff-slider {
    height: 5px;
    background-color: #336;
    margin: 50px 10px 5px;
    display: block;
    --slidebar-mixin: {
        background-color: #00bfa5;
    }
}

ff-slider [slot^=slider] {
    margin-top: 0;
}

ff-asn-group-slider[opened] > .ff-asn-group-container {
    border: 1px solid #ccc;
    border-top: 0;
}

ff-asn-group-slider,
ff-asn-group {
    display: block;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    background: #f6f6f6;
}

.groupCaption {
    font: normal 14px/1.4 "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 7px 10px;
    cursor: pointer;
}

[opened] .groupCaption {
    border-bottom: 1px solid #ccc;
}

.ff-asn-group-slider .ffw-container,
.ffw-asn-group-container {
    background: #fff;
}

ff-asn-group-element {
    display: block;
    padding: 10px;
}

[data-container="hiddenLinks"] {
    transition: 400ms;
}

[data-container="showMore"] span.text, [data-container="showLess"] span.text, [data-container="removeFilter"] {
    display: block;
    color: #5c5c5c;
    background: #fcfcfc;
    padding: 8px 0 8px 15px;
    cursor: pointer;
}

[data-container="hiddenLinks"] {
    border-bottom: 1px solid #ccc;
}

[data-container="removeFilter"] {
    border-top: 1px solid #ccc;
}

.clusterLevel1 .filterName {
    padding-left: 10px;
}

.clusterLevel2 .filterName {
    padding-left: 20px;
}

.filterName {
    color: #3399cc;
    cursor: pointer;
}

.filterName--selected {
    font-weight: bold;
}

.filterName > span {
    color: #a0a0a0;
}

ff-sortbox-item {
    padding: 1px 5px 0 5px;
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
    width: 200px;
}

.ffw-dropdown-container ff-sortbox-item {
    border-top: 0;
}

ff-products-per-page-item {
    margin-right: 3px;
    border: 1px solid #ccc;
    background: #fff;
    width: 30px;
    text-align: center;
}

.toolbar {
    height: 44px !important;
}

ff-paging {
    text-align: right;
    display: block;
}

.ffw-page-item-container {
    display: inline-block;
    border: solid 1px transparent;
    font-size: .875rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 12px;
    color: #39c;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    cursor: pointer;
}

.ff-current-link .ffw-page-item-container {
    color: #636363;
    border-color: #ccc;
}
