#navigation-container {
    margin: 15px 0 5px;
    width: 1000px;
    text-transform: uppercase;
    text-align: center;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    color: #3399cc;
}