ff-record-list {
    position: relative;
    display: block;
}

ff-record {
    clear: left;
    width: 274.5px;
    margin-right: 22px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

ff-record:nth-child(3n+1) {
    margin-left: 0;
}

ff-record:nth-child(3n+3) {
    margin-right: 0;
}

.product-image {
    width: 100%;
    height: auto;
}

.result-product-name {
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #636363;
    white-space: nowrap;
    line-height: 1.4;
    font-weight: normal;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}

.brand {
    display: block;
    height: 60px;
}

.price {
    color: #3399cc;
    font-size: 16px;
}

.priceContainer {
    padding-bottom: 5px;
}

ff-recommendation > span, ff-similar-products > span {
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

ff-recommendation > ff-record-list, ff-similar-products > ff-record-list {
    margin-top: 10px;
}
