ff-sortbox-item {
    padding: 1px 5px 0 5px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: #fff;
    width: 200px;
}

ff-products-per-page-item {
    padding: 1px 5px 0 9px;
    margin-right: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: #fff;
    width: 30px;
}

.toolbar {
    height: 44px !important;
}
