<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <helpers>
            <factfinder>
                <class>Omikron_Factfinder_Helper</class>
            </factfinder>
            <catalogsearch>
                <rewrite>
                    <data>Omikron_Factfinder_Helper_CatalogSearch_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <models>
            <factfinder>
                <class>Omikron_Factfinder_Model</class>
            </factfinder>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <omikron_factfinder_model_observer>
                        <class>factfinder/observer</class>
                        <method>saveProductToSession</method>
                    </omikron_factfinder_model_observer>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <layout>
            <updates>
                <factfinder>
                    <file>factfinder.xml</file>
                </factfinder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Omikron_Factfinder>
                    <files>
                        <default>Omikron_Factfinder.csv</default>
                    </files>
                </Omikron_Factfinder>
            </modules>
        </translate>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <factfinder before="Mage_CatalogSearch">Omikron_Factfinder_CatalogSearch</factfinder>
                    </modules>
                </args>
            </catalogsearch>
            <factfinder>
                <use>standard</use>
                <args>
                    <module>Omikron_Factfinder</module>
                    <frontName>factfinder</frontName>
                </args>
            </factfinder>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <factfinder before="Mage_Adminhtml">Omikron_Factfinder_Adminhtml</factfinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Omikron_Factfinder>
                    <files>
                        <default>Omikron_Factfinder.csv</default>
                    </files>
                </Omikron_Factfinder>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <factfinder>
            <general>
                <is_enabled>0</is_enabled>
                <tracking_product_number_field_role>{"brand":"Manufacturer","campaignProductNumber":"ProductNumber","deeplink":"ProductUrl","description":"Description","displayProductNumber":"ProductNumber","ean":"EAN","imageUrl":"ImageUrl","masterArticleNumber":"MasterProductNumber","price":"Price","productName":"Name","trackingProductNumber":"ProductNumber"}</tracking_product_number_field_role>
            </general>
            <components>
                <ff_suggest>0</ff_suggest>
                <ff_asn>0</ff_asn>
                <ff_paging>0</ff_paging>
                <ff_sortbox>0</ff_sortbox>
                <ff_breadcrumb>0</ff_breadcrumb>
                <ff_productspp>0</ff_productspp>
                <ff_campaign>0</ff_campaign>
                <ff_pushedproductscampaign>0</ff_pushedproductscampaign>
                <ff_recommendation>0</ff_recommendation>
                <ff_similar>0</ff_similar>
            </components>
            <advanced>
                <version>7.3</version>
                <search_immediate>0</search_immediate>
                <use_url_parameter>1</use_url_parameter>
                <use_cache>0</use_cache>
                <default_query>*</default_query>
                <use_asn>1</use_asn>
                <use_found_words>0</use_found_words>
                <use_campaigns>1</use_campaigns>
                <generate_advisor_tree>0</generate_advisor_tree>
                <disable_cache>0</disable_cache>
                <use_personalization>1</use_personalization>
                <use_semantic_enhancer>1</use_semantic_enhancer>
                <use_aso>1</use_aso>
                <use_browser_history>1</use_browser_history>
                <use_seo>0</use_seo>
                <only_search_params>1</only_search_params>
                <similar_products_max_results>4</similar_products_max_results>
            </advanced>
            <data_transfer>
                <ff_upload_port>21</ff_upload_port>
                <ff_upload_path></ff_upload_path>
                <ff_product_visibility>3,4</ff_product_visibility>
                <ff_price_customer_group>0</ff_price_customer_group>
                <ff_image_resize_width>200</ff_image_resize_width>
                <ff_image_resize_height>200</ff_image_resize_height>
            </data_transfer>
            <ftp_data_transfer>
                <ff_upload_password backend_model="adminhtml/system_config_backend_encrypted" />
            </ftp_data_transfer>
            <basic_auth_data_transfer>
                <ff_upload_url_password backend_model="adminhtml/system_config_backend_encrypted" />
            </basic_auth_data_transfer>
        </factfinder>
    </default>
    <crontab>
        <jobs>
            <factfinder_feed_export>
                <run>
                    <model>factfinder/cron::exportFeed</model>
                </run>
            </factfinder_feed_export>
        </jobs>
    </crontab>
</config>
